<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    <div id="parent"></div>
</body>
<script>
    // Fetch and display recipes
    fetch('/recipe/all')
    .then(response => response.json())
    .then((recipes)=>{
        const parent =document.getElementById('parent');
        recipes.map((recipe)=>{
            const div =document.createElement('div');
            div.innerHTML=`
            <h2>${recipe.name}</h2>
            <p>${recipe.description}</p>
            <img src="${recipe.imageUrl}" alt="${recipe.name}" style="width:200px">
            `
            parent.append(div);
        })
    })
</script>

</html>